<h1>Listing entries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.name %></td>
    <td><%= entry.phone %></td>
    <td><%= link_to 'Show', user_phonebook_entry_path(@user,@phonebook,entry) %></td>
    <td><%= link_to 'Edit', edit_user_phonebook_entry_path(@user,@phonebook,entry) %></td>
    <td><%= link_to 'Destroy', user_phonebook_entry_path(@user,@phonebook,entry), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_user_phonebook_entry_path(@user,@phonebook) %> |
<%= link_to 'Back to Phonebooks', user_phonebooks_path(@user) %>
<%= link_to 'Email Phonebook', :controller => "phonebooks", :action => "sendemail", :id => @phonebook.id %>
