<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entry.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @entry.phone %>
</p>

<p>
  <b>Address Line 1:</b>
  <%= @entry.address1 %>
</p>

<% if not @entry.address2.empty? %>
<p>
  <b>Address Line 2:</b>
  <%= @entry.address2 %>
</p>
<% end %>

<p>
  <b>City:</b>
  <%= @entry.city %>
</p>

<p>
  <b>State:</b>
  <%= @entry.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @entry.zip %>
</p>

<p>
  <%
  location = @entry.address1 + ',' + @entry.city + ',' + @entry.state
  %>
  <img src="http://maps.google.com/maps/api/staticmap?center=<%= location %>&zoom=14&size=512x512&maptype=roadmap&markers=color:blue|label:S|<%= location %>&sensor=false" border="0" />
</p>
<%= link_to 'Edit', edit_user_phonebook_entry_path(@user,@phonebook,@entry) %> |
<%= link_to 'Back', user_phonebook_entries_path(@user,@phonebook) %>
