<%= form_for([@user,@phonebook]) do |f| %>
  <% if @phonebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phonebook.errors.count, "error") %> prohibited this phonebook from being saved:</h2>

      <ul>
      <% @phonebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
