<h1>Listing phonebooks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phonebooks.each do |phonebook| %>
  <tr>
    <td><%= phonebook.name %></td>
    <td><%= phonebook.user_id %></td>
    <td><%= link_to 'Show', user_phonebook_path(@user.id,phonebook) %></td>
    <td><%= link_to 'Edit', edit_user_phonebook_path(@user.id,phonebook) %></td>
    <td><%= link_to 'Destroy', user_phonebook_path(@user.id,phonebook), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phonebook', new_user_phonebook_path %>
