<!DOCTYPE html>
<html>
<head>
  <title>Net Pages</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header">
    <table border="0" width="100%">
      <tr>
        <td width="70%">
          <h1><a href="http://localhost:3000/"><img src="/images/main_logo.png" border="0" /></a></h1>
        </td>
        <td width="30%" align="right">
          <% if session[:user].nil? %>
            <a href="http://localhost:3000/login">Login</a>
          <%else%>
            <table border="0" width="100%">
              <tr>
                <td align="right"><a href="http://localhost:3000/logout">Logout</a></td>
              </tr>
              <tr>
                <td align="right">Welcome, <%= session[:user].login %></td>
              </tr>
            </table>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <!-- End Header -->
  <!-- Begin Naviagtion -->
  <div>
      <ul id="menu">
        <% if session[:user].nil? %>
        <!-- unauthenticated user -->
        <li class="button"><a href="http://localhost:3000/"><span>People</span></a></li>
        <li class="button"><a href="http://localhost:3000/"><span>Places</span></a></li>
        <li class="button"><a href="http://localhost:3000/"><span>Politics</span></a></li>
        <li class="button"><a href="http://localhost:3000/"><span>Reverse Lookup</span></a></li>
        <% else %>
        <!-- authenticated user -->
        <li class="button"><%= link_to 'People', user_phonebooks_path(session[:user]) %></li>
        <li class="button"><a href="http://localhost:3000/"><span>Places</span></a></li>
        <li class="button"><a href="http://localhost:3000/"><span>Politics</span></a></li>
        <li class="button"><a href="http://localhost:3000/"><span>Reverse Lookup</span></a></li>
        <% end %>
      </ul>
  </div>
  <!-- End Naviagtion -->
  <!-- Begin Content -->
  <div id="content"><%= yield %></div>
  <!-- End Content -->
  <!-- Begin Footer -->
  <div style="text-align: center;" id="footer"> Copyright © 2010 nobody.
    This page created by nobody and maintained by nobody.<br/>
    Last modified on October 24, 2010.<br/>
    <% if not session[:ip].nil? %>
      Your IP address is: <%= session[:ip] %>
    <% end %>
  </div>
  <!-- End Footer -->
 </div>
</body>
</html>
